<div class="container bg-secondary rounded">
  <div class="row">
    <div class="col-3 d-grid">
      <button class="btn btn-secondary" routerLink="/listDrivers">Drivers</button>
    </div>    
    <div class="col-3 d-grid">
      <button class="btn btn-secondary" routerLink="/listRiders">Riders</button>
    </div>
    <div class="col-3 d-grid">
      <button class="btn btn-secondary" routerLink="/listSchedulerides">Scheduled Rides</button>
    </div>
    <div class="col-3 d-grid">
      <button class="btn btn-secondary" routerLink="/listPaymentManagements">Payments</button>
    </div>
  </div>
</div>

