<h1 class="ms-4"><b>Available Riders</b></h1>
<div class="my-2 ms-3">
    <button class="btn btn-primary" routerLink="/addRider">Add Riders</button>
</div>
<div class="my-2">
    <ul *ngFor ="let rider of riders let i = index">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text"><b class="text-primary">Rider Name:</b> {{rider.Name}}</p>
                  <p class="card-text"><b class="text-primary">Phone Number:</b> {{rider.phoneNumber["$numberDecimal"]}}</p>
                  <p class="card-text"><b class="text-primary">Address:</b> {{rider.address}}</p>
                  <p class="card-text"><b class="text-primary">city:</b> {{rider.city}}</p>
                  <p class="card-text"><b class="text-primary">zipcode:</b> {{rider.zipcode}}</p>
                  <p class="card-text"><b class="text-primary">Email:</b> {{rider.email}}</p>
                  <button class="btn btn-danger mx-3" (click)="onDelete(rider._id)">DELETE</button>
                  <button class="btn btn-secondary" [routerLink]="['/editRider', rider._id]">UPDATE</button>
                </div>  
              </div>
            </div>
          </div>
    </ul>
  </div>